package {{.}}handler

import (
	"clean-code-structure/service/{{.}}service"
	"clean-code-structure/validator/{{.}}validator"
)

type Handler struct {
	{{.}}Validator {{.}}validator.Validator
	{{.}}Service   {{.}}service.Service
}

func New({{.}}Service {{.}}service.Service, {{.}}Validator {{.}}validator.Validator) Handler {
	return Handler{
		{{.}}Service:   {{.}}Service,
		{{.}}Validator: {{.}}Validator,
	}
}
